{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3 text-center mx-auto">
        <h1>Sign-up</h1>

        {% include 'snippets/form_errors.html' %}

        {{ data }}
        <form method="post">
            <div>
                <label class="mt-2" for="email">Email</label>
                <input class="form-control" type="email" name="email" placeholder="your@email.com"/>
            </div>

            <div>
                <label class="mt-2" for="password">Password</label>
                <input class="form-control" type="password" name="password" placeholder="your password"/>
            </div>

            <div>
                <label class="mt-2" for="password">Confirm Password</label>
                <input class="form-control" type="password" name="password_confirm"
                       placeholder="Confirm your password"/>
            </div>

            <button class="btn btn-outline-primary mt-2" type="submit">Login</button>

        </form>
        <div class="mt-2">
            <p><a href="/login">Do you have an account?</a></p>
        </div>
    </div>
</div>
{% endblock %}
