<div class="my-2 border rounded p-3 bg-dark text-light">
    {% include 'snippets/form_errors.html' %}
    <form method="POST" action="/playlists/{{ db_id }}/add-video" hx-post="/playlists/{{ db_id }}/add-video">
        <div class="mb-2">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" id="title" required="required" placeholder="Your Video Title"
                   value="{% if title %}{{ title }}{% endif %}"/>
        </div>

        <div>
            <label for="url">YouTube Link</label>
            <input class="form-control" type="text" name="url" id="url" required="required"
                   placeholder="https://www.youtube.com/watch?v=P1Rzzd9n_Pk"
                   value="{% if url %}{{ url }}{% endif %}"/>
        </div>

        <button class="btn btn-outline-primary mt-2" type="submit">Add Video</button>

    </form>
</div>